@model int

@switch (@Model)
    {
    case 1:
        <td colspan="9" align="center"><b>Понедельник</b></td>
        break;
    case 2:
        <td colspan="9" align="center"><b>Вторник</b></td>
        break;
     case 3:
        <td colspan="9" align="center"><b>Среда</b></td>
        break;
    case 4:
        <td colspan="9" align="center"><b>Четверг</b></td>
        break;
    case 5:
        <td colspan="9" align="center"><b>Пятница</b></td>
        break;
    case 6:
        <td colspan="9" align="center"><b>Суббота</b></td>
        break;
    case 7:
        <td colspan="9" align="center"><b>Воскресенье</b></td>
        break;
    }
