@model int

@switch (@Model)
    {
    case 1:
        <td rowspan="2" class="vertical-center">8.00-9.40</td>
        break;
    case 2:
        <td rowspan="2" class="vertical-center">9.55-11.35</td>
        break;
     case 3:
        <td rowspan="2" class="vertical-center">12.15-13.55</td>
        break;
    case 4:
        <td rowspan="2" class="vertical-center">14.10-15.50</td>
        break;
    case 5:
        <td rowspan="2" class="vertical-center">16.20-18.00</td>
        break;
    case 6:
        <td rowspan="2" class="vertical-center">18.15-19.55</td>
        break;
    case 7:
        <td rowspan="2" class="vertical-center">20.10-21.50</td>
        break;
    }